* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  text-decoration: none;
  list-style: none;
  color: black;
}

:root {
  --color-Ellipse-1: #C8AAD3;
  --color-Ellipse-2: #799DCB;
  --color-Ellipse-3: #7C38BD;
  --color-Ellipse-4: #BD6DF2;
  --color-Ellipse-5: #A696C7;
}

/* main */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 100px;
}

/* 1 */
.container-main-1 {
  max-width: 1440px;
  width: 100%;
  padding: 0 100px;
  padding-top: 125px;
  padding-bottom: 170px;
  display: flex;
  gap: 30px;
  align-items: center;
}

.container-main-1-left {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.container-main-1-left h1 {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 5px;
}

.container-main-1-left p {
  font-size: 20px;
  font-weight: 400;
}

/* 2 */
.container-main-2-back {
  width: 100%;
  background-color: var(--color-Ellipse-2);
  display: flex;
  justify-content: center;
}

.container-main-2 {
  max-width: 1440px;
  width: 100%;
}

.container-main-2-top-left-2,
.container-main-2-bottom-right-2 {
  display: none;
}

.container-main-2-top,
.container-main-2-bottom {
  display: flex;
  align-items: center;
}

.container-main-2-top {
  padding-right: 143px;
}

.container-main-2-bottom {
  padding-left: 143px;
}

.container-main-2-top-right,
.container-main-2-bottom-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container-main-2-top-right h1,
.container-main-2-bottom-left h1 {
  font-size: 24px;
  font-weight: 500;
  color: #2B3582;
}

.container-main-2-top-right h2,
.container-main-2-bottom-left h2 {
  font-size: 20px;
  font-weight: 500;
  color: #2B3582;
  margin-bottom: 5px;
}

.container-main-2-top-right p,
.container-main-2-bottom-left p {
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
}

/* 3 */

.container-main-3 {
  max-width: 1440px;
  width: 100%;
  padding: 0 100px;
  padding-top: 127px;
  padding-bottom: 178px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.container-main-3>h1 {
  font-size: 32px;
  font-weight: 500;
}

.container-main-3-bottom {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.container-main-3-bottom-1,
.container-main-3-bottom-2,
.container-main-3-bottom-3,
.container-main-3-bottom-4 {
  display: flex;
  align-items: center;
  gap: 50px;
}

.container-main-3-img-mobile {
  display: none;
}

.container-main-3-bottom-right {
  width: 605px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container-main-3-bottom-right>h1 {
  font-size: 20px;
  font-weight: 400;
}

.container-main-3-bottom-right>p {
  font-size: 16px;
  font-weight: 400;
}

@media screen and (max-width:1455px) {
  main {
    margin-top: 6.87vw;
  }

  /* 1 */
  .container-main-1 {
    padding: 0 6.87vw;
    padding-top: 8.59vw;
    padding-bottom: 11.68vw;
    gap: 2.06vw;
  }

  .container-main-1-left {
    gap: 1.71vw;
  }

  .container-main-1-left h1 {
    font-size: 2.19vw;
    margin-bottom: 0.34vw;
  }

  .container-main-1-left p {
    font-size: 1.37vw;
  }

  .container-main-1-right {
    width: 35.32vw;
  }

  /* 2 */
  .container-main-2-top {
    padding-right: 9.82vw;
  }

  .container-main-2-bottom {
    padding-left: 9.82vw;
  }

  .container-main-2-top-right,
  .container-main-2-bottom-left {
    gap: 0.68vw;
  }

  .container-main-2-top-right h1,
  .container-main-2-bottom-left h1 {
    font-size: 1.64vw;
  }

  .container-main-2-top-right h2,
  .container-main-2-bottom-left h2 {
    font-size: 1.37vw;
    margin-bottom: 0.34vw;
  }

  .container-main-2-top-right p,
  .container-main-2-bottom-left p {
    font-size: 1.37vw;
    line-height: 1.85vw;
  }

  .container-main-2-top>.container-main-2-top-left,
  .container-main-2-bottom>.container-main-2-bottom-right {
    width: 36.08vw;
  }
}

@media screen and (max-width:1110px) {
  /* 3 */

  .container-main-3 {
    padding: 0 9vw;
    padding-top: 11.44vw;
    padding-bottom: 16.03vw;
    gap: 4.5vw;
  }

  .container-main-3>h1 {
    font-size: 2.88vw;
  }

  .container-main-3-bottom {
    gap: 7.2vw;
  }

  .container-main-3-bottom-1,
  .container-main-3-bottom-2,
  .container-main-3-bottom-3,
  .container-main-3-bottom-4 {
    gap: 4.5vw;
  }

  .container-main-3-img-desktop {
    width: 21.44vw;
  }

  .container-main-3-bottom-right {
    width: 54.5vw;
    gap: 1.8vw;
  }

  .container-main-3-bottom-right>h1 {
    font-size: 1.8vw;
  }

  .container-main-3-bottom-right>p {
    font-size: 1.44vw;
  }
}

@media screen and (max-width:501px) {

  /* 1 */
  .container-main-1 {
    padding: 0 5.98vw;
    padding-top: 15.96vw;
    padding-bottom: 35.92vw;
    flex-direction: column;
    gap: 5.98vw;
    justify-content: center;
    align-items: center;
  }

  .container-main-1-left {
    gap: 7.98vw;
  }

  .container-main-1-left h1 {
    font-size: 9.58vw;
    margin-bottom: 1.99vw;
  }

  .container-main-1-left p {
    font-size: 3.19vw;
  }

  .container-main-1-right {
    width: 100%;
  }

  /* 2 */

  .container-main-2-back {
    margin-bottom: 30.93vw;
  }

  .container-main-2 {
    padding: 15.96vw 5.98vw;
    display: flex;
    flex-direction: column;
    gap: 23.95vw;
  }

  .container-main-2-top,
  .container-main-2-bottom {
    justify-content: center;
    flex-direction: column;
  }

  .container-main-2-top-left,
  .container-main-2-bottom-right {
    display: none;
  }

  .container-main-2-top-left-2,
  .container-main-2-bottom-right-2 {
    display: block;
    width: 100%;
    margin-bottom: 7.98vw;
  }

  .container-main-2-top {
    padding-right: 0;
  }

  .container-main-2-bottom {
    padding-left: 0;
  }

  .container-main-2-top-right h1,
  .container-main-2-bottom-left h1 {
    font-size: 4.79vw;
    margin-bottom: 1.99vw;
  }

  .container-main-2-top-right h2,
  .container-main-2-bottom-left h2 {
    font-size: 3.99vw;
    margin-bottom: 3.99vw;
  }

  .container-main-2-top-right p,
  .container-main-2-bottom-left p {
    font-size: 3.19vw;
    line-height: 5.38vw;
  }


  /* 3 */
  .container-main-3 {
    padding: 0 5.98vw;
    padding-top: 0;
    padding-bottom: 31.93vw;
    gap: 9.98vw;
  }

  .container-main-3>h1 {
    font-size: 6.38vw;
  }

  .container-main-3-bottom {
    gap: 15.96vw;
  }

  .container-main-3-bottom-1,
  .container-main-3-bottom-2,
  .container-main-3-bottom-3,
  .container-main-3-bottom-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6.98vw;
  }

  .container-main-3-img-mobile {
    display: block;
    width: 80vw;
  }

  .container-main-3-img-desktop {
    display: none;
  }

  .container-main-3-bottom-right {
    width: 100%;
    gap: 1.99vw;
  }

  .container-main-3-bottom-right>h1 {
    font-size: 3.99vw;
  }

  .container-main-3-bottom-right>p {
    font-size: 3.19vw;
  }
}