* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-decoration: none;
    list-style: none;
    color: black;
}

:root {
    --color-Ellipse-1: #C8AAD3;
    --color-Ellipse-2: #799DCB;
    --color-Ellipse-3: #7C38BD;
    --color-Ellipse-4: #BD6DF2;
    --color-Ellipse-5: #A696C7;
}

/* main */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 100px;
}

/* 1 */

.container-main-1-back {
    width: 100%;
    height: auto;
    background-color: var(--color-Ellipse-2);
    display: flex;
    justify-content: center;
}

.container-main-1 {
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    padding-top: 185px;
    padding-bottom: 60px;
}

.container-main-1-right {
    width: 697px;
}

.container-main-1-left {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.container-main-1-left>h1 {
    font-size: 32px;
    font-weight: 500;
    color: white;
    white-space: nowrap;
}

.container-main-1-left>h2 {
    font-size: 24px;
    font-weight: 500;
    color: white;
}

.container-main-1-left>ul>h3 {
    font-size: 24px;
    font-weight: 500;
    color: white;
    padding-bottom: 15px;
    padding-top: 20px;
}

.container-main-1-left>ul>li {
    font-size: 16px;
    font-weight: 400;
    color: white;
    padding-bottom: 10px;
    list-style: disc;
    margin-left: 25px;
}

/* 2 */

.container-main-2 {
    max-width: 1440px;
    width: 100%;
    padding: 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 235px;
}

.container-main-2-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.container-main-2-left>h1 {
    font-size: 20px;
    font-weight: 500;
}

.container-main-2-left>p {
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
}

.container-main-2-left>a {
    margin-top: 40px;
    font-size: 16px;
    font-weight: 500;
    color: var(--color-Ellipse-4);
    border: 3px solid var(--color-Ellipse-4);
    padding: 7px 26px;
    border-radius: 5px;
    text-decoration: underline;
}

.container-main-2-left>a:hover {
    color: var(--color-Ellipse-3);
    border: 3px solid var(--color-Ellipse-3);
}

/* 3 */

.container-main-3 {
    max-width: 1440px;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    gap: 275px;
}

.container-main-3-left>h1,
.container-main-3-right>h1 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

.container-main-3-left>li,
.container-main-3-right>li {
    list-style: disc;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    margin-left: 25px;
    margin-bottom: 15px;
}

/* 4 */

.container-main-4 {
    max-width: 1440px;
    width: 100%;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
}

.container-main-4>h1 {
    font-size: 20px;
    font-weight: 500;
}

.container-main-4>img:nth-last-of-type(1) {
    width: 100%;
    display: none;
    user-select: none;
    -webkit-user-drag: none;
}

.container-main-4>img:nth-last-of-type(2) {
    width: 100%;
    user-select: none;
    -webkit-user-drag: none;
}

/* 5 */

.container-main-5 {
    max-width: 1440px;
    width: 100%;
    padding: 0 100px;
    padding-top: 40px;
    padding-bottom: 120px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
}

.container-main-5>h1 {
    font-size: 20px;
    font-weight: 500;
}

.container-main-5-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 130px;
}

.container-main-5-bottom-left {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
}

.container-main-5-bottom-left img {
    width: 100%;
    padding: 0;
    margin: 0;
}

.container-main-5-bottom-right {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
}

.container-main-5-bottom-right img {
    width: 100%;
    padding: 0;
    margin: 0;
}

@media screen and (max-width:1350px) {
    main {
        margin-top: 7.4vw;
    }

    /* 1 */
    .container-main-1 {
        padding: 0 7.4vw;
        padding-top: 13.7vw;
        padding-bottom: 4.44vw;
    }

    .container-main-1-left {
        gap: 2.22vw;
    }

    .container-main-1-right {
        width: 64%;
    }

    .container-main-1-left>h1 {
        font-size: 2.37vw;
    }

    .container-main-1-left>h2 {
        font-size: 1.77vw;
    }

    .container-main-1-left>ul>h3 {
        font-size: 1.77vw;
        padding-bottom: 1.11vw;
        padding-top: 1.48vw;
    }

    .container-main-1-left>ul>li {
        font-size: 1.18vw;
        padding-bottom: 0.74vw;
        margin-left: 1.85vw;
    }

    /* 2 */
    .container-main-2 {
        padding: 7.4vw;
        gap: 17.4vw;
    }

    .container-main-2-left {
        gap: 1.48vw;
    }

    .container-main-2-right {
        width: 33.33vw;
    }

    .container-main-2-left>h1 {
        font-size: 1.48vw;
    }

    .container-main-2-left>p {
        font-size: 1.18vw;
        line-height: 1.55vw;
    }

    .container-main-2-left>a {
        margin-top: 2.96vw;
        font-size: 1.18vw;
        padding: 0.51vw 1.92vw;
        border-radius: 0.37vw;
    }

    /* 3 */
    .container-main-3 {
        padding: 2.96vw 7.4vw;
        gap: 20.37vw;
    }

    .container-main-3-left>h1,
    .container-main-3-right>h1 {
        font-size: 1.48vw;
        margin-bottom: 1.48vw;
    }

    .container-main-3-left>li,
    .container-main-3-right>li {
        font-size: 1.18vw;
        line-height: 1.55vw;
        margin-left: 1.85vw;
        margin-bottom: 1.11vw;
    }

    /* 4 */
    .container-main-4 {
        padding: 7.4vw;
        gap: 3.7vw;
    }

    .container-main-4>h1 {
        font-size: 1.48vw;
    }

    /* 5 */

    .container-main-5 {
        padding: 0 7.4vw;
        padding-top: 2.96vw;
        padding-bottom: 8.88vw;
        gap: 3.7vw;
    }

    .container-main-5>h1 {
        font-size: 1.48vw;
    }

    .container-main-5-bottom {
        gap: 4vw;
    }

    .container-main-5-bottom-left {
        gap: 1vw;
    }

    .container-main-5-bottom-right {
        gap: 1vw;
    }

    .container-main-5-bottom-left img:nth-of-type(1),
    .container-main-5-bottom-right img:nth-of-type(1) {
        width: 30.37vw;
    }

    .container-main-5-bottom-left img:nth-of-type(2),
    .container-main-5-bottom-right img:nth-of-type(2) {
        width: 9.62vw;
    }
}

@media screen and (max-width:501px) {

    /* 1 */
    .container-main-1 {
        flex-direction: column;
        gap: 90px;
    }

    .container-main-1-right {
        width: 100%;

    }

    .container-main-1-left>h1 {
        font-size: 48px;
        font-weight: 500;
        white-space: normal;
    }

    .container-main-1-left>h2 {
        font-size: 24px;
        font-weight: 500;
        white-space: normal;
    }

    .container-main-1-left>ul>h3 {
        font-size: 24px;
        padding-bottom: 15px;
        padding-top: 35px;
    }

    .container-main-1-left>ul>li {
        font-size: 16px;
        padding-bottom: 10px;
        margin-left: 25px;
    }

    /* 2 */
    .container-main-2-right {
        display: none;
    }

    .container-main-2-left>h1 {
        font-size: 20px;
    }

    .container-main-2-left>p {
        font-size: 16px;
        line-height: 21px;
    }

    .container-main-2-left>a {
        font-size: 16px;
        padding: 7px 26px;
        border-radius: 5px;
        text-decoration: none;
    }

    /* 3 */
    .container-main-3 {
        padding: 40px 30px;
        flex-direction: column;
        gap: 80px;
    }

    .container-main-3-left>h1,
    .container-main-3-right>h1 {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 20px;
    }

    .container-main-3-left>li,
    .container-main-3-right>li {
        list-style: disc;
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        margin-left: 25px;
        margin-bottom: 15px;
    }

    /* 4 */
    .container-main-4 {
        gap: 21px;
    }

    .container-main-4>h1 {
        font-size: 20px;
        font-weight: 500;
    }

    .container-main-4>img:nth-last-of-type(1) {
        width: 100%;
        display: block;
    }

    .container-main-4>img:nth-last-of-type(2) {
        width: 100%;
        display: none;
    }

    /* 5 */

    .container-main-5 {
        padding-top: 40px;
        padding-bottom: 160px;
        gap: 30px;
    }

    .container-main-5>h1 {
        font-size: 20px;
    }

    .container-main-5-bottom {
        flex-direction: column;
        gap: 80px;
    }

    .container-main-5-bottom-left {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
    }

    .container-main-5-bottom-right {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
    }

    .container-main-5-bottom-left img:nth-of-type(1),
    .container-main-5-bottom-right img:nth-of-type(1) {
        width: 80%;
    }

    .container-main-5-bottom-left img:nth-of-type(2),
    .container-main-5-bottom-right img:nth-of-type(2) {
        width: 25.5%;
    }
}